In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import sqlite3

In [2]:
conn = sqlite3.connect('C:\Work\SQL_Projects\indicators.sqlite')

In [3]:
pd.read_sql(""" SELECT *
                FROM sqlite_master
                WHERE type='table';""",
           conn)

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [4]:
#head
pd.read_sql("""SELECT *
               FROM Indicators
               LIMIT 20;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
5,Arab World,ARB,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,1960,5.380000e+08
6,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,4.769789e+01
7,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,5.956399e+04
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,6.439635e-01
9,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.041292e+00
10,Arab World,ARB,CO2 emissions from liquid fuel consumption (% ...,EN.ATM.CO2E.LF.ZS,1960,8.485147e+01
11,Arab World,ARB,CO2 emissions from liquid fuel consumption (kt),EN.ATM.CO2E.LF.KT,1960,4.954171e+04
12,Arab World,ARB,CO2 emissions from solid fuel consumption (% o...,EN.ATM.CO2E.SF.ZS,1960,4.726981e+00
13,Arab World,ARB,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,1960,1.975445e+01
14,Arab World,ARB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.924027e+00
15,Arab World,ARB,Fixed telephone subscriptions,IT.MLT.MAIN,1960,4.068330e+05
16,Arab World,ARB,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,1960,6.167006e-01
17,Arab World,ARB,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,1960,1.929622e+00
18,Arab World,ARB,International migrant stock (% of population),SM.POP.TOTL.ZS,1960,2.990637e+00
19,Arab World,ARB,"International migrant stock, total",SM.POP.TOTL,1960,3.324685e+06

In [5]:
#Count of raws
pd.read_sql("""SELECT COUNT(*) AS count_of_raws
               FROM Indicators;""",
           conn)

   count_of_raws
0        5656458

In [6]:
pd.read_sql("""SELECT *
               FROM Country
               LIMIT 20;""",
           conn)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,
5,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),2014,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008/09",,2015,,,2005
6,ATG,Antigua and Barbuda,Antigua and Barbuda,Antigua and Barbuda,AG,East Caribbean dollar,April 2012 database update: Based on official ...,Latin America & Caribbean,High income: nonOECD,AG,...,Budgetary central government,General Data Dissemination System (GDDS),2011,,,Yes,2007,,2013,2005
7,ARB,Arab World,Arab World,Arab World,1A,,Arab World aggregate. Arab World is composed o...,,,1A,...,,,,,,,,,,
8,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,The base year has changed to 2004.,Latin America & Caribbean,High income: nonOECD,AR,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2010,"Multiple Indicator Cluster Survey (MICS), 2011/12","Integrated household survey (IHS), 2012",Yes,2013,2002,2013,2011
9,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,,Europe & Central Asia,Lower middle income,AM,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey (DHS), 2010","Integrated household survey (IHS), 2012",Yes,2013/14,2008,2013,2012
10,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,,,2010,,,Yes,,,2012,
11,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,Fiscal year end: June 30; reporting period for...,East Asia & Pacific,High income: OECD,AU,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,,"Expenditure survey/budget survey (ES/BS), 2003",Yes,2011,2011,2013,2000
12,AUT,Austria,Austria,Republic of Austria,AT,Euro,A simple multiplier is used to convert the nat...,Europe & Central Asia,High income: OECD,AT,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011. Population data compiled from administra...,,"Integrated household survey (IHS), 2004",Yes,2010,2010,2013,2002
13,AZE,Azerbaijan,Azerbaijan,Republic of Azerbaijan,AZ,New Azeri manat,April 2012 database update: National accounts ...,Europe & Central Asia,Upper middle income,AZ,...,Consolidated central government,General Data Dissemination System (GDDS),2009,"Demographic and Health Survey (DHS), 2006",Living Standards Measurement Study Survey (LSM...,Yes,2015,2011,2013,2012
14,BHR,Bahrain,Bahrain,Kingdom of Bahrain,BH,Bahraini dinar,Based on official government statistics; the n...,Middle East & North Africa,High income: nonOECD,BH,...,Budgetary central government,General Data Dissemination System (GDDS),2010,,,Yes,,2010,2011,2003
15,BGD,Bangladesh,Bangladesh,People's Republic of Bangladesh,BD,Bangladeshi taka,Fiscal year end: June 30; reporting period for...,South Asia,Lower middle income,BD,...,Consolidated central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2014; HIV...","Integrated household survey (IHS), 2010",,2008,,2007,2008
16,BRB,Barbados,Barbados,Barbados,BB,Barbados dollar,,Latin America & Caribbean,High income: nonOECD,BB,...,Budgetary central government,General Data Dissemination System (GDDS),2010,"Multiple Indicator Cluster Survey (MICS), 2012",,Yes,2010. Population and Housing Census.,,2013,2005
17,BLR,Belarus,Belarus,Republic of Belarus,BY,Belarusian rubel,,Europe & Central Asia,Upper middle income,BY,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2009,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 2013",Yes,,2011,2013,2000
18,BEL,Belgium,Belgium,Kingdom of Belgium,BE,Euro,A simple multiplier is used to convert the nat...,Europe & Central Asia,High income: OECD,BE,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,,"Integrated household survey (IHS), 2000",Yes,2010,2010,2013,2007
19,BLZ,Belize,Belize,Belize,BZ,Belize dollar,,Latin America & Caribbean,Upper middle income,BZ,...,Budgetary central government,General Data Dissemination System (GDDS),2010,"Multiple Indicator Cluster Survey (MICS), 2011","Labor force survey (LFS), 1999",,,,2013,2000

In [7]:
#Count of raws
pd.read_sql("""SELECT COUNT(*) AS count_of_raws
               FROM Country;""",
           conn)

   count_of_raws
0            247

In [8]:
#Retrieving the values of CountryName for all countries
pd.read_sql("""SELECT DISTINCT CountryName
               FROM Indicators;""",
           conn)

            CountryName
0           Afghanistan
1               Albania
2               Algeria
3        American Samoa
4               Andorra
..                  ...
242  West Bank and Gaza
243               World
244         Yemen, Rep.
245              Zambia
246            Zimbabwe

[247 rows x 1 columns]

In [9]:
#Grouping and counting records by region
pd.read_sql("""SELECT Region, COUNT(*) AS [Count]
               FROM Country 
               GROUP BY Region
               ORDER BY 2 DESC;""",
            conn)

                       Region  Count
0       Europe & Central Asia     57
1          Sub-Saharan Africa     48
2   Latin America & Caribbean     41
3         East Asia & Pacific     36
4                                 33
5  Middle East & North Africa     21
6                  South Asia      8
7               North America      3

In [10]:
#Checking missing values on all columns
pd.read_sql("""SELECT COUNT(*) - COUNT(CountryName) AS CountryName,
                      COUNT(*) - COUNT(CountryCode) AS CountryCode,
                      COUNT(*) - COUNT(IndicatorName) AS IndicatorName,
                      COUNT(*) - COUNT(IndicatorCode) AS IndicatorCode, 
                      COUNT(*) - COUNT(Year) AS Year, 
                      COUNT(*) - COUNT(Value) AS Value
                FROM Indicators;""",
           conn)

   CountryName  CountryCode  IndicatorName  IndicatorCode  Year  Value
0            0            0              0              0     0      0

In [11]:
#Null values
pd.read_sql("""SELECT COUNT(*)
               FROM Indicators
               WHERE IndicatorName IS NULL;""",
           conn)

   COUNT(*)
0         0

In [12]:
#number of unique values
# how many indicators?
pd.read_sql("""SELECT COUNT (DISTINCT IndicatorName) AS number_of_unique_values
                FROM Indicators;""",
           conn)

   number_of_unique_values
0                     1344

In [13]:
#some indicators about GDP
pd.read_sql("""SELECT DISTINCT IndicatorName
               FROM Indicators
               WHERE IndicatorName LIKE 'GDP%';""",
           conn)

                                        IndicatorName
0                                  GDP (constant LCU)
1                                   GDP (current LCU)
2            GDP at market prices (constant 2005 US$)
3                  GDP at market prices (current US$)
4          GDP deflator (base year varies by country)
5                               GDP growth (annual %)
6                  GDP per capita (constant 2005 US$)
7                       GDP per capita (constant LCU)
8                        GDP per capita (current LCU)
9                        GDP per capita (current US$)
10                   GDP per capita growth (annual %)
11  GDP per capita, PPP (constant 2011 internation...
12      GDP per capita, PPP (current international $)
13      GDP per person employed (constant 1990 PPP $)
14  GDP per unit of energy use (PPP $ per kg of oi...
15  GDP per unit of energy use (constant 2011 PPP ...
16           GDP, PPP (constant 2011 international $)
17                 GDP, PPP (current international $)

In [14]:
pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName ='GDP per capita (current US$)'
                AND CountryName = "India"
                AND Year>=2000;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2000,452.413585
1,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2001,460.826200
2,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2002,480.621442
3,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2003,557.897366
4,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2004,640.600522
5,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2005,729.000727
6,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2006,816.733776
7,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2007,1050.024801
8,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2008,1022.577592
9,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,1124.519446
10,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,1387.880084
11,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,1471.658439
12,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,1449.664875
13,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,1455.102191
14,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,1581.510703

In [15]:
pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName ='GDP per capita (current US$)'
                AND CountryName = "United Kingdom"
                AND Year>=2005;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2005,40047.905967
1,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2006,42534.306261
2,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2007,48428.157453
3,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2008,45195.156927
4,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,37166.275965
5,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,38292.871131
6,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,41020.376964
7,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,41294.514801
8,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,42309.039922
9,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,46331.977410

In [16]:
pd.read_sql("""SELECT CountryName, IndicatorName, Value
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND (CountryName= 'India' OR CountryName= 'United Kingdom')
               AND Year>=2000;""",
           conn)

       CountryName                 IndicatorName         Value
0            India  GDP per capita (current US$)    452.413585
1   United Kingdom  GDP per capita (current US$)  26400.656438
2            India  GDP per capita (current US$)    460.826200
3   United Kingdom  GDP per capita (current US$)  25980.220379
4            India  GDP per capita (current US$)    480.621442
5   United Kingdom  GDP per capita (current US$)  28301.208332
6            India  GDP per capita (current US$)    557.897366
7   United Kingdom  GDP per capita (current US$)  32575.091963
8            India  GDP per capita (current US$)    640.600522
9   United Kingdom  GDP per capita (current US$)  38305.872686
10           India  GDP per capita (current US$)    729.000727
11  United Kingdom  GDP per capita (current US$)  40047.905967
12           India  GDP per capita (current US$)    816.733776
13  United Kingdom  GDP per capita (current US$)  42534.306261
14           India  GDP per capita (current US$)   1050.024801
15  United Kingdom  GDP per capita (current US$)  48428.157453
16           India  GDP per capita (current US$)   1022.577592
17  United Kingdom  GDP per capita (current US$)  45195.156927
18           India  GDP per capita (current US$)   1124.519446
19  United Kingdom  GDP per capita (current US$)  37166.275965
20           India  GDP per capita (current US$)   1387.880084
21  United Kingdom  GDP per capita (current US$)  38292.871131
22           India  GDP per capita (current US$)   1471.658439
23  United Kingdom  GDP per capita (current US$)  41020.376964
24           India  GDP per capita (current US$)   1449.664875
25  United Kingdom  GDP per capita (current US$)  41294.514801
26           India  GDP per capita (current US$)   1455.102191
27  United Kingdom  GDP per capita (current US$)  42309.039922
28           India  GDP per capita (current US$)   1581.510703
29  United Kingdom  GDP per capita (current US$)  46331.977410

In [17]:
# Turkey in 2000's
pd.read_sql("""SELECT * 
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND CountryName='United States'
               AND Year BETWEEN 2000 AND 2010;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2000,36449.855116
1,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2001,37273.618103
2,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2002,38166.037841
3,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2003,39677.198348
4,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2004,41921.809762
5,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2005,44307.920585
6,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2006,46437.067117
7,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2007,48061.537661
8,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2008,48401.427340
9,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,47001.555350
10,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,48374.056457

In [18]:
#highest GDP per capita in 2009
pd.read_sql("""SELECT CountryName, MAX (Value)
               FROM Indicators
               WHERE IndicatorName = 'GDP per capita (current US$)'
               AND Year = 2009;""",
            conn)

  CountryName    MAX (Value)
0      Monaco  152877.365748

In [19]:
#highest first 10 countries GDP per capita in 2014
pd.read_sql("""SELECT * 
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND Year= 2014
               ORDER BY Value DESC
               LIMIT 10;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,116664.262488
1,Norway,NOR,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,97307.421592
2,Qatar,QAT,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,96732.402545
3,"Macao SAR, China",MAC,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,96038.050724
4,Switzerland,CHE,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,85594.326601
5,Australia,AUS,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,61925.496062
6,Denmark,DNK,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,60707.249365
7,Sweden,SWE,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,58938.772748
8,Singapore,SGP,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,56284.578405
9,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,54629.495168

In [20]:
#The lowest GDP per capita in 2013
pd.read_sql("""SELECT CountryName, MIN (Value)
               FROM Indicators
               WHERE IndicatorName = 'GDP per capita (current US$)'
               AND Year = 2013;""",
            conn)

  CountryName  MIN (Value)
0      Malawi   239.869731

In [21]:
#the averages
pd.read_sql(""" SELECT CountryName, AVG(Value)
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName IN ('United States', 'China', 'India', 'Russia', "Norway", "Brazil")
                AND Year>2010
                GROUP BY CountryName;""",
           conn)

     CountryName     AVG(Value)
0         Brazil   12015.088601
1          China    6605.175319
2          India    1489.484052
3         Norway  100569.625056
4  United States   52211.888753

In [22]:
#Comparing Life expectancy at birth max values from 2012 inclusive
pd.read_sql(""" SELECT CountryName, MAX(Value)
                FROM Indicators
                WHERE IndicatorName= 'Life expectancy at birth, total (years)'
                AND CountryName IN ("China", "Norway", 'Russian Federation', 'Bolivia',
                'United States', "Turkey", 'Nigeria', 'India')
                AND Year>=2012
                GROUP BY CountryName;""",
           conn)

          CountryName  MAX(Value)
0             Bolivia   67.913439
1               China   75.353024
2               India   67.660415
3             Nigeria   52.442146
4              Norway   81.451220
5  Russian Federation   71.073171
6              Turkey   75.175951
7       United States   78.841463

In [23]:
#CO2 emissions in the world
pd.read_sql(""" SELECT Indicators.CountryCode, Indicators.IndicatorName,Indicators.Year,Indicators.Value, Series.LongDefinition As Definition
                FROM Indicators
                LEFT JOIN Series 
                ON Indicators.IndicatorName  = Series.IndicatorName
                WHERE Indicators.IndicatorName LIKE 'CO2%'
                AND CountryName ='World'
                ORDER BY Year DESC
                LIMIT 10;""",
            conn)

,CountryCode,IndicatorName,Year,Value,Definition
0,WLD,CO2 emissions from transport (% of total fuel ...,2012,1.987419e+01,CO2 emissions from transport contains emission...
1,WLD,CO2 emissions from residential buildings and c...,2012,8.516604e+00,CO2 emissions from residential buildings and c...
2,WLD,"CO2 emissions from other sectors, excluding re...",2012,1.877231e+00,"CO2 emissions from other sectors, less residen..."
3,WLD,CO2 emissions from manufacturing industries an...,2012,2.107766e+01,CO2 emissions from manufacturing industries an...
4,WLD,CO2 emissions from electricity and heat produc...,2012,4.865408e+01,CO2 emissions from electricity and heat produc...
5,WLD,CO2 intensity (kg per kg of oil equivalent ene...,2011,2.596009e+00,Carbon dioxide emissions from solid fuel consu...
6,WLD,CO2 emissions from transport (% of total fuel ...,2011,1.972732e+01,CO2 emissions from transport contains emission...
7,WLD,CO2 emissions from solid fuel consumption (kt),2011,6.453920e+06,Carbon dioxide emissions from solid fuel consu...
8,WLD,CO2 emissions from solid fuel consumption (% o...,2011,1.862631e+01,Carbon dioxide emissions from solid fuel consu...
9,WLD,CO2 emissions from residential buildings and c...,2011,8.692554e+00,CO2 emissions from residential buildings and c...